<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">CoffeeGram</p>
      <div class="list-group">
        <li class="list-group-item active">nulla export minim</li>
        <li class="list-group-item">nulla export minim</li>
        <li class="list-group-item">nulla export minim</li>
      </div>
    </div>
    <div class="col-md-9">
      <figure class="figure" id="show">
        <img src="<%= coffee.image %>" class="indexImage figure-img img-fluid rounded img-responsive" alt="A generic square placeholder image with rounded corners in a figure.">
        <figcaption class="figure-caption">
          <h4 class="float-right"><%= coffee.price %>AED</h4>
          <h4><a><%= coffee.name %></a></h4>
          <p><%= coffee.description %></p>
          <% if(currentUser && coffee.author.id.equals(currentUser._id)){ %>
            <a class="btn btn-warning" href="/coffees/<%= coffee._id %>/edit">Edit</a>
            <form class="deleteCoffeeBtn" action="/coffees/<%= coffee._id %>?_method=DELETE" method="post">
              <button class="btn btn-danger">Delete</button>
            </form>
          <% } else { %>
            <p><em>Submitted by <%= coffee.author.username %></em></p>
          <% }%>
        </figcaption>
      </figure>
      <div class="well">
        <div class="text-right">
          <a class="btn btn-primary" href="/coffees/<%= coffee._id %>/comments/new">Leave a Review</a>
        </div>
        <hr>
        <% coffee.comments.forEach((comment)=>{ %>
          <div class="row">
            <div class="col-md-12">
              <strong><%= comment.author.username %></strong>
              <span class="float-right">10 days ago</span>
            </div>
            <div class="col-md-12">
              <p><%= comment.text %></p>
              <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                <a class="btn btn-warning" href="/coffees/<%= coffee._id %>/comments/<%= comment._id %>/edit">
                  Edit
                </a>
                <form class="deleteCoffeeBtn" action="/coffees/<%= coffee._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
                  <button class="btn btn-danger">Delete</button>
                </form>
              <% } %>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
